/* grid setup */
body {
  background-color: #161618;
  color: white;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

.article {
  grid-area: article;
}

.aside {
  grid-area: aside;
}

.section {
  grid-area: section;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("imgs/ML_background4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer {
  grid-area: footer;
}

.grid-item {
  padding: 10px;
  text-align: center;
}
/* header */
.header {
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2d3b45;
  z-index: 1000;
}
/*navigation bar styles */
nav ul {
  list-style-type: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: silver;
  transition: 0.3s ease-in-out;
  opacity: 0.85;
}

#headshot {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

/* media display rules (mobile first) */
.grid-container {
  margin-top: 34px;
  display: grid;
  height: 97vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(3, 1fr) auto;
  grid-template-areas:
    "header"
    "section"
    "article"
    "aside"
    "footer";
}

@media (min-width: 576px) and (max-width: 992px) {
  .grid-container {
    display: grid;
    min-height: 97vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto repeat(2, 1fr) auto;
    gap: 10px;
    grid-template-areas:
      "header header"
      "section section"
      "article aside"
      "footer footer";
  }
}

@media (min-width: 993px) {
  .grid-container {
    display: grid;
    min-height: 97vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(2, 1fr) auto;
    gap: 10px;
    grid-template-areas:
      "header header header"
      "section section section"
      "aside article article"
      "footer footer footer";
  }
}

/* bootstrap css */

.card {
  --bs-card-bg: #212529;
  --bs-card-color: white;
}

.card-img-top {
  height: 250px;
  width: 100%;
}

.btn-primary {
  --bs-btn-bg: #031633;
  --bs-btn-color: #6ea8fe;

  --bs-btn-hover-bg: #031633;
}
.article .accordion {
  --bs-accordion-bg: #212529;
  --bs-accordion-color: #dee2e6;
  --bs-accordion-border-color: #495057;

  --bs-accordion-btn-bg: #212529;
  --bs-accordion-btn-color: #dee2e6;

  --bs-accordion-active-bg: #031633;
  --bs-accordion-active-color: #6ea8fe;

  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
